
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color:rgba(180, 200, 255, 0.878);
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}


header i {
    
    margin-left: 40px;
}
header {
    background-color: rgba(138, 166, 243, 0.878);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

.Vid{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.space{
    padding:100px;
}



.h-divider {
    margin: auto;
    margin-top: 80px;
    width: 80%;
    position: relative;
  }
  
  .h-divider .shadow {
    overflow: hidden;
    height: 20px;
  }
  
  .h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }
  
  .h-divider .text {
    width: 100px;
    height: 45px;
    padding: 10px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -33px;
    left: 50%;
    margin-left: -60px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #999;
    background: rgba(110, 145, 242, 0.878);
  }
  
  .h-divider .text i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #aaa;
    text-align: center;
    line-height: 50px;
    font-style: normal;
    color: #000000;
  }
  
  .h-divider .text2 {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -35px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #999;
    background: rgba(180, 200, 255, 0.878)
  }